<div class="container lotus-book-container">
  <div class="lotus-book-create">
    <%= link_to 'Create A New Book', routes.url(:new_book), class: 'btn btn-lg btn-primary' %>
  </div>
  <div>
    <% if books.any? %>
      <ul class="list-group lotus-book-list">
        <% books.each do |book|%>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-12 col-sm-10">
                <p><%= book.link %></p>
              </div>
              <div class="col-xs-12 col-sm-2">
                <div class="pull-right">
                  <button class="btn btn-primary js- item__edit" data-url="books/<%= book.id %>">Edit</button>
                  <button class="btn btn-danger js- item__delete" data-url="books/<%= book.id %>" data-csrf-token="<%= this.csrf_token %>">Delete</button>
                </div>
              <div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <nav>
      <ul class="pagination pull-right">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
