<div class="container" id="book-<%= book.id %>">
  <div class="row">
    <div class="col-md-4 lotus-book-container">
      <a href="#" class="thumbnail">
        <img src="../public/images/image-default.jpg" alt="lotus bookshelf">
      </a>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <h2 class="page-header">Description</h2>
      <div>
        <p><big><%= book.description %></big></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-5 col-md-7">
      <h2 class="page-header">Book Detail</h2>

      <div class="">
        <div class="row">
          <div class="col-md-5">
            <p><big>Publisher</big></p>
          </div>
          <div class="col-md-7">
            <p><big><%= book.publisher %></big></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p><big>Author</big></p>
          </div>
          <div class="col-md-7">
            <p><big><%= book.by %></big></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p><big>ISBN</big></p>
          </div>
          <div class="col-md-7">
            <p><big><%= book.isbn %></big></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p><big>Pages</big></p>
          </div>
          <div class="col-md-7">
            <p><big><%= book.pages %></big></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p><big>Year</big></p>
          </div>
          <div class="col-md-7">
            <p><big><%= book.year.strftime("%Y") %>MB</big></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p><big>Language</big></p>
          </div>
          <div class="col-md-7">
            <p><big><%= book.languages %></big></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p><big>File size</big></p>
          </div>
          <div class="col-md-7">
            <p><big><%= book.file_size %></big></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p><big>File type</big></p>
          </div>
          <div class="col-md-7">
            <p><big><%= book.file_type %></big></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
